


main {
  min-width: 320px;
  max-width: 100%;
  padding: 0px 30px 50px 30px;
  margin: 0 auto;
  background: #fff;
}

section {
  display: none;
  padding: 20px 0 0;
  border-top: 1px solid #ddd;
}

.custom_tabs input[type=radio] {
  display: none;
}

.custom_tabs label {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 15px 25px;
  font-weight: 600;
  text-align: center;
  color: #bbb;
  border: 1px solid transparent;
}

.custom_tabs label:before {
  font-family: fontawesome;
  font-weight: normal;
  margin-right: 10px;
}

.custom_tabs label[for*='1']:before {
  content: '\f1cb';
}

.custom_tabs label[for*='2']:before {
  content: '\f12e';
}

.custom_tabs label[for*='3']:before {
  content: '\f02d';
}

.custom_tabs label[for*='4']:before {
  content: '\f0f7';
}

.custom_tabs label[for*='5']:before {
  content: '\f0ac';
}

.custom_tabs label:hover {
  color: #888;
  cursor: pointer;
}

.custom_tabs input:checked + label {
  color: #555;
  border: 1px solid #ddd;
  border-top: 2px solid orange;
  border-bottom: 1px solid #fff;
}

#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4,
#tab5:checked ~ #content5 {
  display: block;
}

@media screen and (max-width: 650px) {
  .custom_tabs label {
    font-size: 0;
  }

  .custom_tabs label:before {
    margin: 0;
    font-size: 18px;
  }
}
@media screen and (max-width: 400px) {
  .custom_tabs label {
    padding: 15px;
  }
}
